<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->

    <!-- Fontfaces CSS-->
    <link href="../../css/adminCSS/font-face.css" rel="stylesheet" media="all">
    <link href="../../css/adminCSS/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="../../css/adminCSS/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="../../css/adminCSS/material-design-iconic-font.min.css" rel="stylesheet" media="all">


    <!-- Bootstrap CSS-->
    <link href="../../css/adminCSS/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="../../css/adminCSS/animsition.min.css" rel="stylesheet" media="all">
    <link href="../../css/adminCSS/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="../../css/adminCSS/animate.css" rel="stylesheet" media="all">
    <link href="../../css/adminCSS/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="../../css/adminCSS/slick.css" rel="stylesheet" media="all">
    <link href="../../css/adminCSS/select2.min.css" rel="stylesheet" media="all">
    <link href="../../css/adminCSS/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../../css/adminCSS/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="">
                            <img src="../../Images/logo1.png" alt="logo" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="dashboard.html">
                                <i class="fas fa-tachometer-alt"></i>User</a>
                        </li>
                        <li>
                            <a href="recover.html">
                                <i class="fas fa-chart-bar"></i>Danh sách user đã xóa</a>
                        </li>
                        <li>
                            <a href="newexam.html">
                                <i class="fas fa-table"></i>Quản Lý Exam</a>
                        </li>
                        <li>
                            <a href="role.html">
                                <i class="far fa-check-square"></i>Role</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="dashboard.html">
                    <img src="../../Images/logo1.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="dashboard.html">
                                <i class="fas fa-tachometer-alt"></i>User</a>
                        </li>
                        <li>
                            <a href="recover.html">
                                <i class="fas fa-chart-bar"></i>Danh sách user đã xóa</a>
                        </li>
                        <li>
                            <a href="newexam.html">
                                <i class="fas fa-table"></i>Quản Lý Exam</a>
                        </li>
                        <li>
                            <a href="role.html">
                                <i class="far fa-check-square"></i>Role</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="../../Images/khoi.jpg" alt="Admin" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">Admin</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="../../Images/khoi.jpg" alt="Admin" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">Admin</a>
                                                    </h5>
                                                    <span class="email">johndoe@example.com</span>
                                                </div>
                                            </div>
                                            
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="../../views/admin/profile.html">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="../../views/admin/role.html">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="../login.html">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">overview</h2>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-lg-9">
                                <h2 class="title-1 m-b-25">List User</h2>
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning" id="list-user">
                                        <thead>
                                            <tr>                                              
                                                <th>email</th>
                                                <th style="text-align: center;">role</th>
                                                <th style="text-align: center;">name</th>
                                                <th style="text-align: center;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>                                                                    
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                               
                            </div>
                            <div class="col-lg-6">
                                <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="#">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="../../adminjs/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="../../adminjs/popper.min.js"></script>
    <script src="../../adminjs/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="../../adminjs/slick.min.js"></script>
    <script src="../../adminjs/wow.min.js"></script>
    <script src="../../adminjs/animsition.min.js"></script>
    <script src="../../adminjs/bootstrap-progressbar.min.js"></script>
    <script src="../../adminjs/jquery.waypoints.min.js"></script>
    <script src="../../adminjs/jquery.counterup.min.js"></script>
    <script src="../../adminjs/circle-progress.min.js"></script>
    <script src="../../adminjs/perfect-scrollbar.js"></script>
    <script src="../../adminjs/Chart.bundle.min.js"></script>
    <script src="../../adminjs/select2.min.js"></script>

    <!-- Main JS-->
    <script src="../../adminjs/main.js"></script>
    <script src="../../dashboardjs/recover.js"></script>
</body>

</html>
<!-- end document-->
